language:
   - node_js
   - ruby
node_js:
   - "0.10"
before_install:
   - npm install -g grunt-cli
   - npm install -g bower
   - gem install sass
install:
   - npm install
   - bower install
before_script:
   - grunt